Login Building Task 2

In [1]:
#Question 1 - Unique Words in a Sentence

In [43]:
# Getting input from the user
sentence = input("Enter sentence: ")

# Converting the sentence to lowercase (optional but recommended)
sentence = sentence.lower()

# Splitting the sentence into individual words
words = sentence.split()

# picking the unique words and ignoring the repeated words using set
unique_words = set(words)

# Printing the results
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence:  python is easy and python is powerful

Unique words count: 5
Unique words: {'powerful', 'is', 'python', 'easy', 'and'}

In [4]:
#Question 2 - Highest Salary from Employee Data

In [44]:
# Making dictionary to store employee details
employee_data = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

#Initially assuming first employee has the highest salary
highest_employee = ""
highest_salary = 0

#Comparing salaries 
for name, salary in employee_data.items():
    if salary > highest_salary:
        highest_salary = salary
        highest_employee = name

# Printing the results
print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

In [7]:
#Question 3 - Find Maximum and Minimum Values

In [45]:
#Given list of numbers
numbers = [45, 22, 89, 10, 66]

#Assuming first element is both maximum and minimum number
max_value = numbers[0]
min_value = numbers[0]

# Looping the list from the second element
for num in numbers[1:]:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num

# Printing the results
print("List:", numbers)
print("Max:", max_value)
print("Min:", min_value)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [10]:
#Question 4 - Count Products Above a Price Threshold

In [46]:
#List of product prices given
prices = [450, 1200, 899, 1500, 300]

#Setting the given threshold price
threshold_price = 1000

#Initialize a counter to store count value
count = 0

#checking the condition 
for price in prices:
    if price > threshold_price:
        count += 1

# Printing the results
print("Products above", threshold_price, ":", count)

Products above 1000 : 2

In [12]:
#Question 5 - Calculate Attendance Percentage

In [47]:
#Attendance list given
attendance = ["P", "P", "A", "P", "P"]

# total number of days conducted
total_days = len(attendance)

# Number of days present 
present_days = 0

#checking the condition and incrementing
for status in attendance:
    if status == "P":
        present_days += 1

# Calculating the attendance percentage
attendance_percentage = (present_days / total_days) * 100

# Printing the results
print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 80.0

In [24]:
#Question 6 - Remove Duplicate Phone Numbers

In [48]:
# List of phone numbers given
phone_numbers = [9876543210, 9123456789, 9876543210]

# Converting this list to set for remove duplicates and to pic unique ones 
unique_numbers = set(phone_numbers)

# Printing the results of unique numbers 
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [27]:
#Question 7 - Count Character Frequency

In [49]:
# Entering the input string
String = input("Enter a string: ")

# Creating dictionary to store character counts
char_count = {}

#Checking the condition
for ch in String:
    if ch in char_count:
        char_count[ch] += 1
    else:
        char_count[ch] = 1

# Printing the results
print("Character Frequency:", char_count)

Enter a string:  ppython

Character Frequency: {'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [30]:
#Question 8 - Convert List to Tuple

In [50]:
# Given list of numbers
numbers = [10, 20, 30]

# Converting the given list into tuple
numbers_tuple = tuple(numbers)

# Printing the results (tuple)
print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

In [32]:
#Question 9 - Check if a Key Exists in a Dictionary

In [51]:
#Given database named Database
Database = {
    "Employee": "Ravi",
    "Manager": "Sanjay",
    "HR": "Santhosh"
}

# Setting the search key that has to be found
Search_key = "Employee"

# Checking if Search_key exists in dictionary or not
if Search_key in Database:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [41]:
#Question 10 - Calculate Average Marks

In [52]:
# given list of marks
marks = [70, 65, 80, 75]

#variable to store sum
total_marks = 0

# adding al the marks
for mark in marks:
    total_marks = total_marks + mark

# Getting the total number of subjects 
total_subjects = len(marks)

# Calculating the average
average_marks = total_marks / total_subjects

# Printing the results
print("Average Marks:", average_marks)

Average Marks: 72.5